<div class="wrapper">
  <div class="title">
    <h2>My Today</h2>
    <span *ngIf="!todayImage">You still haven't summed up the day</span>
  </div>
  <div *ngIf="todayImage" class="container">
    <ion-card class="images" (click)="showTodayImg()">
      <ion-img [src]="todayImage.url" alt="{{ todayImage.name }}"></ion-img>
    </ion-card>
    <p *ngIf="todayImage.comment !== ''">"{{ todayImage.comment }}"</p>
  </div>
  <app-button
    texto="Simplify my day"
    (click)="presentActionSheet()"
  ></app-button>
</div>
