<div class="wrapper">
  <div class="title">
    <h2>Your Friends</h2>
    <span *ngIf="friends.length === 0">You do not have any friends yet</span>
  </div>

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let friend of friends">
      <ion-avatar>
        <img
          *ngIf="friend.imgProfile === ''"
          [alt]="friend.userName"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
        <img
          *ngIf="friend.imgProfile !== ''"
          [alt]="friend.userName"
          [src]="friend.imgProfile"
        />
      </ion-avatar>
      <small>@{{ friend.userName }}</small>
    </ion-slide>
  </ion-slides>
</div>
