<div class="wrapper">
  <div class="title">
    <h2>My Friends</h2>
    <span *ngIf="friends.length === 0">I do not have any friends yet</span>
  </div>

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let friend of friends">
      <ion-avatar>
        <img
          *ngIf="friend.imgProfile === ''"
          [alt]="friend.username"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          (click)="goFriend($event)"
          attr.data-id="{{ friend.id }}"
        />
        <img
          *ngIf="friend.imgProfile !== ''"
          [alt]="friend.username"
          [src]="friend.imgProfile"
          class="img"
          (click)="goFriend($event)"
          attr.data-id="{{ friend.id }}"
        />
      </ion-avatar>
      <small>@{{ friend.username }}</small>
    </ion-slide>
  </ion-slides>
</div>
