.wrapper {
  background-color: transparent;
  padding: 1rem 1rem;
  font-family: "poppins", sans-serif;
}

.title {
  padding: 0 1rem 1.5rem;

  & h2 {
    margin: 0;
    padding-bottom: 0;
    font-weight: 700;
  }

  span {
    font-style: italic;
    font-size: 0.7rem;
  }
}

ion-slide {
  display: flex;
  flex-direction: column;
  & small {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    font-style: italic;
    color: var(--ion-color-medium);
  }

  & .img {
    width: 4rem;
    height: 4rem;
  }
}
