.wrapper {
  width: 100%;
}
span {
  display: none;
}

input {
  width: 100%;
  padding: 0.4rem 0 0.4rem 1rem;

  outline: none;
  border: 2px solid var(--ion-color-secondary);
  border-radius: 0.25rem;

  &::placeholder {
    color: var(--ion-color-dark-tint);
  }

  &:focus {
    outline: 1px solid var(--ion-color-secondary);
  }
}
