<ion-content [fullscreen]="true">
  <app-nav></app-nav>

  <div class="content">
    <div class="card">
      <div class="card-header">
        <h2>My Profile</h2>
        <ion-avatar>
          <img src="/assets/images/carmen.jpg" alt="" />
        </ion-avatar>
      </div>
      <div *ngIf="!form" class="card-content">
        <p>{{user?.username}}</p>
        <p>{{user?.email}}</p>
        <div *ngIf="!form" class="card-button">
          <app-button
            texto="Change Profile"
            [lime]="true"
            (click)="showForm()"
          ></app-button>
        </div>
      </div>
      <div *ngIf="form" class="card-content">
        <form [formGroup]="formUser">
          <ion-grid class="ion-no-padding">
            <div class="inputs">
              <ion-row class="ion-justify-content-between ion-no-padding">
                <ion-input
                  color="dark"
                  placeholder="{{user?.username}}"
                  formControlName="username"
                  [value]="user?.username"
                  type="email"
                  class="input ion-margin-bottom"
                ></ion-input>
              </ion-row>
              <ion-row
                class="ion-justify-content-between ion-no-padding"
                color="dark"
              >
                <ion-input
                  color="dark"
                  formControlName="email"
                  type="email"
                  [value]="user?.email"
                  placeholder="{{user?.email}}"
                  class="input ion-margin-bottom"
                ></ion-input>
              </ion-row>
              <ion-row
                class="ion-justify-content-between ion-no-padding"
                color="dark"
              >
                <ion-input
                  color="dark"
                  formControlName="password"
                  type="password"
                  [value]="user?.password"
                  placeholder="****"
                  class="input ion-margin-bottom"
                ></ion-input>
              </ion-row>
              <ion-row
                class="ion-justify-content-between ion-no-padding"
                color="dark"
              >
                <ion-input
                  color="dark"
                  formControlName="password2"
                  type="password"
                  [value]="user?.password"
                  placeholder="****"
                  class="input ion-margin-bottom"
                ></ion-input>
              </ion-row>
            </div>

            <ion-row class="ion-justify-content-between ion-no-padding">
              <div class="buttons">
                <app-button
                  texto="Cancel"
                  (click)="showForm()"
                  [lime]="true"
                ></app-button>
                <app-button
                  texto="Save"
                  (click)="saveUser()"
                  [lime]="true"
                ></app-button>
              </div>
            </ion-row>
          </ion-grid>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
