<ion-content [fullscreen]="true">
  <app-nav></app-nav>

  <div class="content">
    <div class="card">
      <div class="card-header">
        <h2>My Profile</h2>
        <ion-avatar>
          <img src="/assets/images/carmen.jpg" alt="" />
        </ion-avatar>
      </div>
      <div class="card-content">
        <p>Carmen Ortiz</p>
        <p>carmen@carmen</p>
      </div>
      <div class="card-button">
        <app-button texto="Change Profile" [lime]="true"></app-button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
