<ion-content>
  <div class="content">
    <app-title title="Register"></app-title>
    <form action="">
      <app-input
        type="text"
        placeholder="username"
        label="Username"
      ></app-input>
      <app-input
        type="email"
        placeholder="user@gmail.com"
        label="User"
      ></app-input>
      <app-input
        type="password"
        placeholder="password"
        label="password"
      ></app-input>
      <app-input
        type="password"
        placeholder="confirm password"
        label="confirm password"
      ></app-input>
      <div class="buttons">
        <app-button texto="Back" link=""></app-button>
        <app-button texto="Sign up"></app-button>
      </div>
    </form>
  </div>
</ion-content>
