<ion-content>
  <div class="content">
    <app-title title="Log in"></app-title>
    <form [formGroup]="formularioLogin">
      <ion-item class="item">
        <ion-input placeholder="usuario@gmail.com" formControlName="email" type="email" class="input"></ion-input>
      </ion-item>
      <ion-item class="item">
        <ion-input formControlName="password" type="password" placeholder="password" class="input"></ion-input>
      </ion-item>

      
    
      <div class="buttons">
        <app-button texto="Back" link=""></app-button>
        <app-button texto="Log in" link="home-user"></app-button>
      </div>
    </form>
  </div>
</ion-content>
