<ion-content>
  <div class="content">
    <app-title title="Log in"></app-title>
    <form action="">
      <app-input
        type="email"
        placeholder="user@gmail.com"
        label="User"
      ></app-input>
      <app-input
        type="password"
        placeholder="password"
        label="password"
      ></app-input>
      <div class="buttons">
        <app-button texto="Back" link=""></app-button>
        <app-button texto="Log in" link="home-user"></app-button>
      </div>
    </form>
  </div>
</ion-content>
