ion-card {
  box-shadow: none;

  &.container {
    margin: 0 0 1rem;
  }

  &-header {
    margin-left: 1rem;
    & span {
      color: black;
      font-family: "Poller One", cursive;
      font-size: 1.2rem;
    }
  }

  &-content {
    & img {
      border-radius: 1rem;
    }

    & p {
        text-align: center;
        font-style: italic;
        margin: .5rem 0;
    }
  }
}
