<ion-content [fullscreen]="true" class="Home">
  <div class="home_container">
    <div class="body">
      <app-logo></app-logo>
      <h2>
        Condense your day <span class="Home_span">with just one picture</span>
      </h2>
    </div>
    <div class="wrapper">
      <app-button
        texto="Log in"
        class="button"
        [routerLink]="['/login']"
      ></app-button>
      <app-button
        texto="Register"
        class="button"
        link="register"
        [routerLink]="['/register']"
      ></app-button>
    </div>
  </div>
</ion-content>
